@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h3 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
h4 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
  justify-content: space-between;
  background-image: url("./images/lineas-de-cogido.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 100px;
  padding-bottom: 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  width: 100%;
}
.info-factor {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  border-bottom: 1px solid white;
}
.info-factor img {
  width: 150px;
  margin-bottom: 30px;
}

.transformation {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: flex-start;
}

.centered-button {
  font-style: normal;
  font-weight: 100px;
  font-size: 15px;
  background: #01aef0;
  color: white;
  padding: 5px;
  width: 120px;
  border-radius: 7px;
  height: 30px;
  text-align: center;
  align-items: center;
}

.contents {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  /* top: 1.2rem; */
  margin-top: 1.8rem;
  align-content: center;
}
.phones {
  display: flex;
  flex-direction: column;
}
.phones img {
  width: 300px;
  padding: 2px;
}
/*Body de la pagina somos desarrolladores*/
.flex-content-developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #01b0f3;
  height: 100px;
}
.flex-content-developers h1 {
  margin-right: 35px;
}
.developers {
  color: white;
}

.xamaris {
  height: 45px;
}
/* Listado de lo que ofrece la empresa */
.flex-content-company {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: #ffffff;
  /* color: rgb(128 128 130); */
  color: rgb(90 98 120);
}
.flex-content-company p {
  width: 350px;
  padding: 2%;
}
.flex-content-company img {
  padding: 2%;
  width: 30px;
}
.information1 {
  width: 50%;
  height: 29.05rem;
}
/* Contenido de la .list-company */
.information1 .list-company {
  margin-top: 1.5rem;
  margin-left: 4.7rem;
  color: #01aeef;
  line-height: 7%;
  white-space: nowrap;
}
.information1 .lenguages {
  margin-top: 3.2rem;
  margin-left: 3.9rem;
}
.information1 .lenguages img {
  float: left;
  height: 3.0625rem;
  margin-top: -2%;
}
/* Parte derecha del contenedor de la empresa, que contiene video de youtube */
.information2 {
  display: flex;
  background-color: rgb(241, 241, 241);
  width: 50%;
  height: 29.05rem;
  border-color: black;
  /* color: rgb(59, 64, 78); */
  /* color: rgb(24 23 22 / 99%); */
  color: rgb(31 32 36);
}
/* Posicionamiento del video de youtube */
.information2 .video-youtube {
  margin-top: 52px;
  margin-left: 120px;
  width: 15rem;
  height: 24rem;
}
/* Propiedades que va contener el iframe del video cargado de youtube */
.information2 .video-youtube iframe {
  margin-left: 21px;
  width: 270px;
  height: 150px;
  margin-top: -7%;
}
.information2 .video-youtube .text-youtube p {
  margin-top: 5rem;
  margin-left: 1rem;
  margin-block-start: auto;
  padding: 2%;
  font-weight: 600;
}

.information2 .video-youtube .text-youtube img {
  float: left;
  margin-right: -2rem;
  width: 2.8125rem;
  margin-left: -2rem;
  padding: 2px;
  margin-top: 2%;
}
/* Estilos de la imagen y texto miramos tu requeriemiento */
.flex-content-requirements {
  display: flex;
}

.information3 {
  background-color: rgb(1, 49, 98);
  width: 50%;
  height: 17.6875rem;
  color: #ffffff;
}
.information3 .requirements {
  margin-left: 45%;
  margin-top: 5%;
}
.information3 .requirements img {
  position: relative;
  right: -8rem;
  top: 2rem;
  width: 120px;
}
.information3 .requirements h1 {
  position: relative;
  right: 0rem;
  top: 0rem;
}
.information3 .requirements .space-requirements {
  position: relative;
  left: 6.25rem;
  top: -2.25rem;
}
/* Para darle opacidad al texto miramos tu */
.miramos-tu {
  opacity: 0.8;
}
/* Estilos para la información de contacto de la empresa */
.contact-information {
  background-color: rgb(1, 49, 98);
  width: 50%;
  height: 17.6875rem;
}
.contact-form form {
  margin-top: 3%;
}

/* Estilos para darle forma al contenido del formulario */
.contact-form {
  margin-left: 1.5rem;
  margin-top: 5%;
}
/* agregando estilos a los input text */
input[type="text"] {
  width: 21.075rem;
  padding: 10px;
  margin: 8px 0;
  padding-left: 35px;
  border: 2px solid #bec7d5;
  border-radius: 7px;
  box-sizing: border-box;
  outline: none;
  color: white;
  transition: ease-in-out, width 0.35s ease-in-out;
}
input[type="text"]:focus {
  border-color: #1e90ff;
  box-shadow: 0px 0px 6px #1e90ff;
}
/* Agregando las imagenes a los input placeholder */
.nombre {
  background: url("./images/Recurso\ 6_1.png") no-repeat scroll 0 0 transparent;
  background-position: 5px 2px;
  background-size: 22px;
  height: 2rem;
}
.telefono {
  background: url("./images/Recurso\ 7.png") no-repeat scroll 0 0 transparent;
  background-position: 5px 2px;
  background-size: 22px;
  height: 2rem;
}
.email {
  background: url("./images/Recurso\ 8.png") no-repeat scroll 0 0 transparent;
  background-position: 5px 6px;
  background-size: 22px;
  height: 2rem;
}

/* Agregando estilos a el boton enviar */
.boton {
  background-color: #00aff0;
  color: white;
  border-color: rgb(1, 176, 243);
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  width: 140px;
  height: 37px;
  padding: 2%;
  text-align: center;
  align-items: center;
  margin-right: 20%;
  margin-left: 22%;
  margin-top: 2%;
}
/* Agregando estilos a la parte del footer */

.information4 {
  display: flex;
  align-items: flex-start;
  background-color: white;
  width: 50%;
  height: 12.1875rem;
}
/* agrego estilos al div que contiene las primeras 3 imagenes */
.information4 div {
  margin-left: 14rem;
  margin-top: 2.4375rem;
}
.information4 .info-direction {
  width: 4.321rem;
}

.information4 .resource9 {
  width: 7.6875rem;
  margin-right: 1.34rem;
  margin-top: 15%;
  margin-left: 1.3rem;
  margin-bottom: -10px;
}
.information4 .resource10 {
  width: 3.0625rem;
  margin-bottom: -12px;
}
/* Estilos de la parte final de la pagina que contiene la direccion */
.information5 {
  display: flex;
  align-items: flex-end;
  background-color: white;
  width: 50%;
  height: 12.1875rem;
  margin-left: 55.875rem;
  margin-top: -15.1875rem;
}
.information5 .info-direction {
  margin-left: 12%;
  /* margin-top: 4.8125rem; */
  margin-top: 7.8125rem;
  margin-right: -6rem;
}
.information5 .info-direction .resource11 {
  width: 9.0625rem;
  height: 2.25rem;
  margin-left: -16rem;
  margin-bottom: 40px;
}
.information5 .info-direction div {
  position: relative;
  left: 13%;
  top: -2.3rem;
}
.information5 .phone-number img {
  float: left;
  width: 0.95rem;
}
.information5 .phone-number p {
  margin-left: 1.2rem;
}
.information5 .location img {
  float: left;
  width: 0.95rem;
}
.information5 .location p {
  margin-left: 1.2rem;
}
